.H1 {
  text-align: center;
  color:white;
  padding-top: 0.5rem;
}

.MainDiv{
  background-color: #152a6d;
margin-top: -1.3rem;
}

.TableContainer{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;


}

.Loading {
  text-align: center;
  color:white; 
  padding-top: 5rem;
}

.Image{

width:20px;
height:20px; 
cursor: 'pointer'
}


.Detail {
  color:white;
  padding-left: 2rem
}


.Title {
  color:white;
  padding-left: 1rem
}



